body {
    margin: 50px;
    max-width: 930px;
    color: #362C2C;
    font-family: "Cabin";
}

h1 {
    font-family: "Work Sans";
    font-weight: bold;
    /* font-size: 20px; */
    font-size: 30px;
    /* line-height: 25px; */
    line-height: 37.5px;
}

.blurb {
    /* font-size: 25px; */
    font-size: 38px;
    line-height: 1.5;
    display: flex;
    margin: 50px 0;
}

.previous {
    display: flex;
    font-size: 20px;
}

.previous .title {
    flex-shrink: 1;
    /* line-height: 16px; */
    line-height: 24px;
}

.previous div:nth-child(2) {
    flex-grow: 9;
}

.title {
    display: inline-block;
    width: 45px;
    /* font-size: 20px; */
    font-size: 30px;
    animation-delay: 1s;
    animation-duration: 2s;
}

@keyframes colorize {
    from {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    to {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}

div.title {
    flex: 1;
    min-width: 45px;
    line-height: 57.5px;
}

a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: border 200ms;
}

.sbg {
    color: #2e68da;
}

.sbg:hover {
    border-bottom-color: #2e68da;
}

.lr {
    color: #381272;
}

.lr:hover {
    border-bottom-color: #381272;
}

.saa {
    color: #6CBEA6;
}

.saa:hover {
    border-bottom-color: #6CBEA6;
}

.pkd {
    color: #1EC1A6;
}

.pkd:hover {
    border-bottom-color: #1EC1A6;
}

@media (max-width: 700px) {
    h1 {
        font-size: 20px;
        line-height: 25px;
    }
    .blurb {
        font-size: 25px;
    }
    .previous .title {
        line-height: 16px;
    }
    .title, div.title {
        /* display: none; */
        line-height: 2;
        display: inline-block;
        min-width: 30px;
        max-width: 30px;
        font-size: 20px;
    }
}
