body {
    margin: 50px;
    max-width: 700px;
    color: #362C2C;
    font-family: "Cabin";
}

h1 {
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.blurb {
    font-size: 25px;
    line-height: 1.5;
    display: flex;
    margin: 20px 0;
}

.previous {
    display: flex;
}

.previous .title {
    flex-shrink: 1;
    line-height: 16px;
}

.previous div:nth-child(2) {
    flex-grow: 9;
}

.title {
    display: inline-block;
    width: 35px;
    font-size: 20px;
}

div.title {
    flex: 1;
    min-width: 35px;
    line-height: 37.5px;
}

a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: border 200ms;
}

.lr {
    color: #381272;
}

.lr:hover {
    border-bottom-color: #381272;
}

.saa {
    color: #6CBEA6;
}

.saa:hover {
    border-bottom-color: #6CBEA6;
}

.pkd {
    color: #1EC1A6;
}

.pkd:hover {
    border-bottom-color: #1EC1A6;
}
